<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/8410d235-97a1-494d-820b-7feeea0efe19/resourceGroups/acrRs/providers/Microsoft.ContainerRegistry/registries/jenkinacr</ContainerResourceId>
    <ContainerResourceName>jenkinacr</ContainerResourceName>
    <Subscription>Free Trial</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://jenkinacr.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/8410d235-97a1-494d-820b-7feeea0efe19/resourcegroups/acrRs/providers/Microsoft.Web/sites/myfirstaksAppService</ResourceId>
    <ResourceGroup>acrRs</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://myfirstaksappservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://myfirstaksappservice.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>547d31b1-1044-47de-b418-5c82f467facb</ProjectGuid>
  </PropertyGroup>
</Project>